body{
	background: #1f1f1f;
	/* font-size: 62.5%; */
	font-family: 'Varela Round', Helvetica, Arial, serif;
}
/* Global Styles*/
h1{

}

a{
  text-decoration: none;
  color: white;
}


h2{
}

h5{
	font-size: 1rem;
	margin-bottom: 0;

}

p{
	font-size: 1rem;
}

button{
	font-size: 1rem;
	color: white;
	padding: 0.4rem 1.4rem;
	border: none;
	background: blueviolet;
	 border-radius: 4px;
	cursor: pointer;

}

img{
	object-fit: cover;
}

/* Nav bar */
header .main-head{
	background: #2C3238;
}

nav.main{
  background: #2C3238;
  color: #D3D8DC;
	min-height: 7vh;
	display: flex;
	width: 65%;
	margin: auto; 
	align-items: center;
	padding: 0.5rem;
}

nav.main ul{
  background: #2C3238;
  color: #D3D8DC;
	display: flex;
	flex: 1 1 40rem;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}



#logo{
	flex: 2 1 40rem;
}

/* -----*/

a{
	font-size: .93rem;
	text-decoration: none;
	color: #D3D8DC;
}


.main{
	background: #2C3238;
	width: 60%;
	margin: 5% auto;
	border-radius: 4px;
	padding-bottom: 20px;
}

/* NAVIGATION BAR */
.second-nav{
	display: flex;
	padding: 15px 30px;
}

.second-nav .feed{
	flex: 1 1 30px;
}

.second-nav .feed:hover{
	flex: 1 1 30px;
	color: grey;
}

.second-nav .profile{
	flex: 1 1 30px;
}

.second-nav .profile:hover{
	flex: 1 1 30px;
	color: grey;
}

.second-nav .new{
	flex: 6 1 5rem;
	text-align: right;
	text-transform: uppercase;
  color: blueviolet;
}

.second-nav .new:hover{
	color: violet;
}

/* Article */

article{
  color: #D3D8DC;
	width: 93%;
	margin: auto;
	padding: 40px 0;
	border-bottom: 2px solid #533d52;
}

.username{
	margin-bottom: .2rem;
}

.username a{
	font-size: 1.1rem;
}

.container-article{
  display: flex;
}

.container-article img{
  height: 68px;
  width: 68px;
  margin-right: 10px;
  border-radius: 50%;
}

article:last-child {
  border-bottom: 0;
}

time {
  font-size: .8rem;
  opacity: .7;
}

.post{
	font-size: .94rem;
}

/* PROFILE */
.profile{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.profile img.profile-img{
  border-radius: 50%;
}
.profile h2 {
  color: #D3D8DC;
}


.container .post-item{
  display: flex;
  text-align: left;
  width: 100%;
  color: #D3D8DC;

}

div.card {
  background-color: #2C3238;
}
div.card .card-header{
  background-color: #0d0c0e;
  color: #D3D8DC;
}

div.card .card-body{
  background-color: #533d52;
  color: #D3D8DC;
}

div.card .card-header img.post-img{
  height: 2rem !important; 
  width: 2rem !important;
  border-radius: 50%;

}


.profile h2{
	margin-top: -10px;
	font-size: 1.3rem;
}

.card-header .post-img{
  max-height: 2rem;
  max-width: 2rem;
}

/* Followers / Following / Post */
.follow{
	display: flex;
	width: 95%;
	justify-content: space-around;
	margin: 30px auto;
	text-align: center;
	padding-bottom: 20px;
  color: #D3D8DC;
}


/*Form Elements*/
form {
    margin: 0;
    padding: 40px;
    font-size: 1rem;
}
input {
  width: 100%;
  border: 0;
  border-radius: 20;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}

input.user-text {
  border-radius: 3%;
}

input.btn {
  background-color: blueviolet;
  color: #D3D8DC;
  border: 1px;
}

input:focus {
  border-color: #7A9D96;
  color: #2C3238;
}
textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
textarea:focus {
  border-color: #7A9D96;
  color: #2C3238;
}
button#submit {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #7A9D96;
  color: #fff;
  border: 0;
  border-radius: 4px;
  opacity: .8;
  transition: .35s linear;
}

button#submit:hover {
  opacity: 1;
}

/*Notifications*/
.notification {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.9rem;
}
.success {
  background: #43DC7E;
  color: white;
}
.error {
  background: #AB3444;
  color: white;
  margin-bottom: 20px;
}


/*Footer*/
footer{
  color: white;
  text-align: center;
  font-size: .875em;
  margin: 40px 0;
}

footer p {
  opacity: .8;
}

footer p a {
  color: white;
}

img.profile{
  height: 80px;
  width: 80px;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 50%;
}


.follow-button{
  color: white;
}

/*Media Queries*/
@media (max-width: 786px) {
  .main {
    width: 95%;
  }

}